<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= kitty.name %></title>
</head>
<body>
   <h1>Details Page for <%= kitty.Name %></h1> 
   <img src="/<%= kitty.Name %>.jpg" alt="<%= kitty.Name %>">
   <h3>Favorite Food: <%= kitty.Food %></h3>
   <h3>Age: <%= kitty.Age %></h3>
   <h3>Sleeping Spots:</h3>
   <% for (let x in kitty.Sleeping_Spots) { %>
        <p><%= kitty.Sleeping_Spots[x] %></p>
   <% } %>
</body>
</html>